# Data Merging Basics

Learn how you can merge disparate data using inner joins. By combining information from multiple sources you’ll uncover compelling insights that may have previously been hidden. You’ll also learn how the relationship between those sources, such as one-to-one or one-to-many, can affect your result.

## What column to merge on?
Chicago provides a list of taxicab owners and vehicles licensed to operate within the city, for public safety. Your goal is to merge two tables together. One table is called taxi_owners, with info about the taxi cab company owners, and one is called taxi_veh, with info about each taxi cab vehicle. Both the taxi_owners and taxi_veh tables have been loaded for you to explore.

Choose the column you would use to merge the two tables on using the .merge() method.
### Solution
- "vid" in taxi_veh and "vid" in taxi_owners

## Your first inner join
You have been tasked with figuring out what the most popular types of fuel used in Chicago taxis are. To complete the analysis, you need to merge the taxi_owners and taxi_veh tables together on the vid column. You can then use the merged table along with the .value_counts() method to find the most common fuel_type.

Since you'll be working with pandas throughout the course, the package will be preloaded for you as pd in each exercise in this course. Also the taxi_owners and taxi_veh DataFrames are loaded for you.
### Instructions
 - Merge taxi_owners with taxi_veh on the column vid, and save the result to taxi_own_veh.

In [16]:
# Import pandas as pd
import pandas as pd
# Load the taxi_owners and taxi_veh DataFrames
taxi_owners = pd.read_csv('data/taxi_owners.csv')
taxi_veh = pd.read_csv('data/taxi_veh.csv')

In [17]:
# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid')

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')

- Set the left and right table suffixes for overlapping columns of the merge to _own and _veh, respectively.

In [18]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid',
                                 suffixes=('_own', '_veh'))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')

- Select the fuel_type column from taxi_own_veh and print the value_counts() to find the most popular fuel_types used.

In [19]:
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())

fuel_type
HYBRID        2782
GASOLINE       609
FLEX FUEL       85
COMPRESSED      27
HYBR             1
Name: count, dtype: int64

## Inner joins and number of rows returned
All of the merges you have studied to this point are called inner joins. It is necessary to understand that inner joins only return the rows with matching values in both tables. You will explore this further by reviewing the merge between the wards and census tables, then comparing it to merges of copies of these tables that are slightly altered, named wards_altered, and census_altered. The first row of the wards column has been changed in the altered tables. You will examine how this affects the merge between them. The tables have been loaded for you.

For this exercise, it is important to know that the wards and census tables start with 50 rows.
### Instructions
- Merge wards and census on the ward column and save the result to wards_census.

In [20]:
# Load the wards and census DataFrames
wards = pd.read_csv('data/wards.csv')
census = pd.read_csv('data/census.csv')

In [21]:
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on='ward')

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)

wards_census table shape: (50, 9)

- Merge the wards_altered and census tables on the ward column, and notice the difference in returned rows.

In [24]:
# Print the first few rows of the wards_altered table to view the change
wards_altered = wards.copy()
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on='ward')

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)

   ward
0     1
1     2
2     3
3     4
4     5
wards_altered_census table shape: (50, 9)

- Merge the wards and census_altered tables on the ward column, and notice the difference in returned rows

In [26]:
# Print the first few rows of the census_altered table to view the change
census_altered = census.copy()
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on='ward')

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

   ward
0   1.0
1   2.0
2   3.0
3   4.0
4   5.0
wards_census_altered table shape: (50, 9)

## One-to-many relationships

## One-to-many merge
A business may have one or multiple owners. In this exercise, you will continue to gain experience with one-to-many merges by merging a table of business owners, called biz_owners, to the licenses table. Recall from the video lesson, with a one-to-many relationship, a row in the left table may be repeated if it is related to multiple rows in the right table. In this lesson, you will explore this further by finding out what is the most common business owner title. (i.e., secretary, CEO, or vice president)

The licenses and biz_owners DataFrames are loaded for you.
### Instructions
 - Starting with the licenses table on the left, merge it to the biz_owners table on the column account, and save the results to a variable named licenses_owners.
 - Group licenses_owners by title and count the number of accounts for each title. Save the result as counted_df
 - Sort counted_df by the number of accounts in descending order, and save this as a variable named sorted_df.
 - Use the .head() method to print the first few rows of the sorted_df.

In [ ]:
# Merge the licenses and biz_owners table on account
licenses = pd.read_csv('data/licenses.csv')
biz_owners = pd.read_csv('data/biz_owners.csv')
licenses_owners = licenses.merge(biz_owners, on='account')

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby('title').agg({'account':'count'})

# Sort the counted_df in descending order
sorted_df = counted_df.sort_values(by='account', ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

## Total riders in a month
Your goal is to find the total number of rides provided to passengers passing through the Wilson station (station_name == 'Wilson') when riding Chicago's public transportation system on weekdays (day_type == 'Weekday') in July (month == 7). Luckily, Chicago provides this detailed data, but it is in three different tables. You will work on merging these tables together to answer the question. This data is different from the business related data you have seen so far, but all the information you need to answer the question is provided.

The cal, ridership, and stations DataFrames have been loaded for you. The relationship between the tables can be seen in the diagram below.